.App {
  text-align: center;
  /* overflow-x: hidden; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-right: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.css-sfvfus-MuiFormControlLabel-root .MuiFormControlLabel-label {
  margin-right: 'auto';
  align-self: 'center'
}

.css-9emuhu-MuiPaper-root-MuiDrawer-paper {
  height: 70vh;
  border-radius: 20px 20px 0px 0px;
}

.MuiFormControlLabel-label {
  margin-right: 'auto';
  align-self: 'center';
  color: 'red';
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-right: 0;
}

.btn-secondary {
  background-color: #A21219;
  border-radius: 7px;
  height: 40px;
  color: '#ffffff';
  font-weight: 600;
  font-size: 16px;
}

.App-link {
  margin-right: 0;
}

.MuiGrid-spacing-xs-2 {
  width: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}